.ModalWrapper {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    height: 400px;
    max-height: calc(100vh - 20px);
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    left: 15%;
    top: 2.5%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;  
}

.Modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    overflow: auto;
    box-sizing: border-box;
}


.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

@media (min-width: 768px) {
    .ModalWrapper {
        width: 500px;
        left: calc(50% - 250px);
        top: 25%;
    }
}